#sectionHero {
    display: flex;
    align-items: center;
    justify-content: center;
}

#sectionHero .hero-about {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

#sectionHero .about-icon {
    border-radius: 50%;
    width: 20vmin;
    max-width: 320px;
}

#sectionHero .about-text-container {
    margin-top: 32px;
    max-width: 600px;
}

#sectionHero .about-text-container .about-greeting {
    margin: 0 0 16px 0;
}

#sectionHero .about-text-container .about-greeting {
    margin: 0 0 24px 0;
    font-size: 2rem;
    text-align: center;
}

#sectionHero .about-text-container .about-greeting .name {
    background: var(--color-3);
    background: linear-gradient(135deg, var(--color-3) 0%, var(--color-4) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#sectionHero .about-text-container .about-greeting .nickname {
    font-size: 0.65em;
    color: #CCCCCC;
}

#sectionHero .about-text-container .about-contact {
    margin-top: 24px;
}

#sectionHero .about-text-container .about-contact > .contact {
    margin-right: 8px;
}

#sectionHero .about-text-container .about-contact .contact {
    color: inherit;

}

#sectionHero .about-text-container .about-contact .contact img {
    vertical-align: bottom;
    width: 16px;
}

@media (max-width: 768px) {

    #sectionHero .about-text-container .about-greeting {
        font-size: 1.5rem;
    }

}

@media (max-width: 480px) {

    #sectionHero .about-text-container .about-greeting {
        font-size: 1.25rem;
    }

    #sectionHero .about-text-container .about-contact {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #sectionHero .about-text-container .about-contact .contact {
        margin-bottom: 4px;
    }

}
